<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>base Post-login page</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
	  <script>

		  function enableButton(e){
			  document.getElementById("postReceiverID").removeAttribute("disabled");
			  console.log(e);
		  }
	  </script>

  </head>
  <body>
  <form id = "transferForm" onsubmit="return checkSelect(event)" action="/baseEmployeeAsCustomer/submit" method="post"></form>
  <form id = "passwordForm" action="/baseEmployeeAsCustomer/reset_password" method="post"></form>
  <form action="/baseEmployeeAsCustomer/transfer" id="receiverForm" method="post"></form>
  <div class="container-fluid vh-100" style="margin-top:10px">
	  <div class="" style="margin-top:5px">
		  <div>
			  <h1 class="text-primary"><ul style="text-underline: cornflowerblue">Banking, Inc. </ul></h1>
		  </div>
		  <div class="rounded d-flex justify-content-center">
			  <div class="col-lg-12 shadow-lg p-5 bg-light">
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-2">
										<ul class="nav flex-column rounded nav-pills bg-body-secondary">

											<li class="nav-item">

												<a class="nav-link" href="/baseEmployeeAsCustomer/savings">Savings</a>
											</li>
											<li class="nav-item">
												<a class="nav-link <%if(session.user_object.current_user.accounts.length < 2){%>link-secondary<%}%> "  href="/baseEmployeeAsCustomer/checking">Checking<%if(session.user_object.current_user.accounts.length < 2){%> (Add)<%}%></a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="/baseEmployeeAsCustomer/transfers">Transfers</a>
											</li>
											<a>
												<form id="exitManageMode" method="post" action = "/baseEmployeeAsCustomer/returnToEmployee">
													<button form = "exitManageMode" type="submit" class="btn btn-secondary mt-2">Leave</button>
												</form>
											</a>
										</ul>
									</div>
									<div class="col-10 rounded-10 p-0 m-auto">
										<%if(session.message === "true"){%>
											<div>
												<p id="message" class="text-success">
													Success!
												</p>
											</div>
										<%}else if (session.message === "false"){%>
											<div>
												<p id="message" class="text-danger">
													Operation Failed!
												</p>
											</div>
										<%}%>
										<%
											let actionHeader;
										if(session.user_object.current_user.page === "deposit"){
											actionHeader = "Deposit"
										}else if(session.user_object.current_user.page === "withdrawal"){
											actionHeader = "Withdrawal"
										}else if(session.user_object.current_user.page === "transfers") {
											actionHeader = "Transfers"
										}else if(session.user_object.current_user.page === "password"){
											actionHeader === "Reset Password"
										}
										%>
										<%if(session.user_object.current_user.page!== "overview"){%>
										<div class="row rounded-10" style="margin: 10px 10px 10px 10px">
											<div>
												<h4 style="margin-left: -10px"><%=actionHeader%></h4>
												<div class="mb-3">
													<%if(session.user_object.current_user.page === "transfers"){%>
													<div class="mb-3">
														<div>
															<div class="row">
																<label  for="receiverID" class="form-label text-secondary-emphasis">Receiver's UserID</label>
																<div class="col-11">
																	<input required form = "receiverForm"  class="form-control" type="text" id="receiverID" name="receiverID" value='<%=session.receiver_id%>' onclick="enableButton(event)">
																</div>
																<div class="col-1 align-text-top">
																	<button form = "receiverForm" class="btn btn-secondary" type="submit" id = "postReceiverID" disabled>Submit</button>
																</div>

																<%if (notAddressableRecipient !== undefined){%>
																	<div>
																		<p id="message" class="text-danger">
																			<%=notAddressableRecipient%>
																		</p>
																	</div>
																<%}%>
															</div>
														</div>
													</div>
													<div class="mb-3">
														<label  for="transferMemo" class="form-label text-secondary-emphasis">Memo</label>
														<textarea required form = "transferForm" class="form-control" type="text" id="transferMemo" name="transferMemo"></textarea>
													</div>
													<%}
													if(session.user_object.current_user.page === "transfers" || session.user_object.current_user.page === "withdrawal"){%>
													<!--withdrawal/TRANSFER-->
													<label for="sendingAccount" class="form-label text-secondary-emphasis">Sending Account</label>
													<select required form = "transferForm"  required class="form-select" name="sendingAccount" id="sendingAccount">
														<!--TODO prevent accounts from being the same-->
														<%
														for(let i = 0; i < session.user_object.current_user.accounts.length; ++i){%>
															<option value="<%=session.user_object.current_user.accounts[i].account_id%>"><%=session.user_object.current_user.accounts[i].account_type%></option>
														<%}%>
													<%}
													if(session.user_object.current_user.page === "transfers" || session.user_object.current_user.page === "deposit"){%>
													</select>
													<!--DEPOSIT/TRANSFER-->
													<label for="receivingAccount" class="form-label text-secondary-emphasis">Receiving Account</label>
													<select required form = "transferForm" required class="form-select" name="receivingAccount" id="receivingAccount">
														<%for(let i = 0; i < session.receiving_user.accounts.length; ++i){%>
															<option value="<%=session.receiving_user.accounts[i].account_id%>"><%=session.receiving_user.accounts[i].account_type%></option>
														<%}%>
													</select>
													<%}%>

												</div>
												<div class="mb-3">
													<label for="Amount" class="form-label text-secondary-emphasis">Amount</label>
													<input  form = "transferForm"  required class="form-control" type="text" id="Amount" name="amount" pattern="<%=utils.moneyRegex%>">
												</div>
												<button form="transferForm" class="btn btn-primary mt-2" type="submit">Submit</button>
												<button form = "transferForm"  type="reset" class="btn btn-outline-secondary mt-1 ">Reset</button>
												<hr>
											</div>
										</div>
										<%}
										if(session.user_object.role ==="customer" && session.user_object.current_user.page ==="password"){%>
											<div class="mb-3">
												<label for="oldPassword" class="form-label">Old Password</label>
												<input form="passwordForm" required class="form-control" style="margin-left: 5px;" type="password" id="oldPassword" name="oldPassword">
											</div>
											<div class="mb-3">
												<label for="newPassword" class="form-label">New Password</label>
												<input form="passwordForm" required class="form-control" type="password" id="newPassword" name="newPassword">
											</div>
											<button form="passwordForm" class="btn btn-primary mt-2" type="submit">Submit</button>

										<%}else if(session.user_object.current_user.page === "overview" || session.user_object.current_user.page === "transfers"){%>
										<!--This is the html we render when in an account-->
										<div class="row p-0 m-auto bg-opacity-10">
											<div class = "col-8 pt-2">
												<%if(session.user_object.current_user.page !== "transfers"){%>
												<h3>
													<%=session.user_object.current_user.current_account.account_type.slice(0,1).toUpperCase() + session.user_object.current_user.current_account.account_type.slice(1,session.user_object.current_user.page.length);%>
												</h3>
													<h4>Balance: <%=usd.format(session.balance)%></h4>
												<%}else{%>
													<h3>Transfers</h3>
												<%}%>
											</div>
											<div class = "col-2 align-text-bottom text-sm-end p-0">
												<a href="/baseEmployeeAsCustomer/deposit">
													<button type="button" class="btn btn-outline-secondary mt-1 rounded" >Make a Deposit</button>
												</a>
											</div>
											<div class = "col-2 align-text-bottom text-sm-end p-0">

												<a href="/baseEmployeeAsCustomer/withdrawal">
													<button type="button" class="btn btn-outline-secondary mt-1 rounded" >Make a Withdrawal</button>
												</a>
											</div>
										</div>
										<div class="row p-4 rounded-5">
												<!--TODO render the table-->
												<table class="table table-bordered table-responsive ">
													<!--headers-->
													<thead class="thead-dark"><tr>
														<th scope = "col" style="max-width: min-content;">#</th>
														<%if(session.user_object.current_user.page === "transfers"){%>
															<th scope = "col">Account</th>
														<%}%>
														<th scope = "col">Type</th>
														<th scope = "col">Amount</th>
														<th scope = "col">Initiated By</th>
														<th scope = "col">Memo</th>
														<%if(session.user_object.current_user.page !== "transfers"){%>
															<th scope = "col">Final Balance</th>
														<%}%>
														<th scope = "col">Date and Time</th>
													</tr></thead>
													<tbody>
													<%
														let sign; for (let j = 0; j < max_rows && table_index < history.length; ++j, ++table_index){
														if(session.user_object.current_user.page === "overview"){%>
															<tr scope="row">
																<td style="max-width: fit-content;"><%=history[table_index]["Transaction Number"]%></td>
																<td><%=history[table_index].Type%></td>
																<%if(history[table_index].from === session.user_object.current_user.current_account.account_id){sign = '-';}else{sign = ' ';}%>
																<td><%=sign+usd.format(history[table_index].Amount)%></td>
																<td><%=history[table_index]["Initiated by"]%></td>
																<td><%=history[table_index].Memo%></td>
																<td><%=usd.format(history[table_index]['Final Balance'])%></td>
																<td><%=history[table_index]["Date and Time"]%></td>
															</tr>
														<%}else{%>
															<tr scope="row">
																<%let affectedAccount = (history[table_index].Direction === "incoming")? history[table_index].to : history[table_index].from %>
																<td style="max-width: fit-content;"><%=history[table_index]["Transaction Number"]%></td>
																<td><%=affectedAccount%></td>
																<td><%=history[table_index].Direction%></td>
																<%if(history[table_index].Direction === "outgoing"){sign = '-';}else{sign = ' ';}%>
																<td><%=sign+usd.format(history[table_index].Amount)%></td>
																<td><%=history[table_index]["Initiated by"]%></td>
																<td><%=history[table_index].Memo%></td>
																<td><%=history[table_index]["Date and Time"]%></td>
															</tr>
														<%}%>
													<%}%>
													</tbody>
												</table>
										<nav class="pagination-sm">
											<ul class="pagination">
											<%for(let k = 0; k <= Math.floor(history.length/max_rows); ++k){%>
												<li class="page-item">
													<a class="page-link" href="/baseEmployeeAsCustomer/pagination?index=<%=k*max_rows%>>"><%=k+1%></a>
												</li>
												<%}%>
											</ul>
										</nav>
									</div>
									<%}%>
								</div>
							</div>
						</div>
					</div>
				</div>
	  		</div>
		  </div>
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					 
					<address>
						 <strong>Banking, Inc.</strong><br> 555 F street, Suite 000 <br> City, State 555555<br> <abbr title="Phone">P:</abbr> (123) 456-7890
					</address>
				</div>
				<div class="col-md-4">
				</div>
			</div>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/scripts.js"></script>
  </body>
</html>