<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Base Post-login page</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	  <script>
		  function checkFilled(event){

		  }
	  </script>
  </head>
  <body>
<!--
OPTIONS:
	title,
	tableTitle[],
	tableHeaders[]
	accessType = [userType, navItems[]{title, ref}, TODO ]
	queryResults[]
-->

  <div class="container-fluid vh-100" style="margin-top:10px">
	  <div class="" style="margin-top:5px">
		  <div class="rounded d-flex justify-content-center">
			  <div class="col-lg-12 shadow-lg p-5 bg-light">
				  <div class="text-center">
					  <h3 class="text-primary"><%=user.page;%></h3>
				  </div>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-2">
										<ul class="nav flex-column nav-pills">
											<!--TODO-->
											<li class="nav-item">
												<a class="nav-link" href="/base?<%=qs.stringify({externalID: user.external_id, role: user.user_role_id, setCurrentAccount: 'savings', add: (user.accounts.length === 0)})%>">Savings</a>
											</li>
											<li class="nav-item">
												<a class="nav-link <%if(user.accounts.length < 2){%>link-secondary<%}%> "  href="/base?<%=qs.stringify({externalID: user.external_id, role: user.user_role_id, setCurrentAccount: 'checking', add: (user.accounts.length === 1)})%>">Checking<%if(user.accounts.length < 2){%> (Add)<%}%></a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="/base?<%=qs.stringify({externalID: user.external_id, role: user.user_role_id, setCurrentAccount: 'transfers', add: undefined, page:"transfers"})%>">Transfers</a>
											</li>
											<%if(user.role === "employee"){%>
												<!--TODO-->
												<li class="nav-item dropdown ml-md-auto">
													<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">Enter Customer Account</a>
													<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
														<a>
															<form method="post">
																<input type="text" class="form-control" name="customerID" id="customerID" placeholder="Enter customer's ID"><button type="submit" class="btn btn-primary mt-2">Go</button>
															</form>
														</a>
														<a class="dropdown-item" href="#">Overview</a>
														<a class="dropdown-item" href="#">Transfers</a>
														<a class="dropdown-item" href="#">Checking</a>
														<a class="dropdown-item" href="#">Savings</a>
														<div class="dropdown-divider">
														</div> <a class="dropdown-item" href="#">Separated link</a>
													</div>
												</li>
											<%}%>
										</ul>
									</div>
									<div class="col-md-10 rounded shadow-sm">
										<%if(user.page == "overview" || user.page === "deposit" || user.page === "withdrawal" ){%>
										<%if(user.page === "deposit"){%>
											<div class="row rounded-10" style="margin: 10px 10px 10px 10px">

											<form method="post">
											<div class="mb-3">
												<label for="receivingAccount" class="form-label text-secondary-emphasis">Into Account</label>
												<select class="form-select" name="receivingAccount" id="receivingAccount">
													<option selected>Choose an Account</option>
													<option value="1">Savings</option>
													<option value="2">Checking</option>
												</select>
											</div>
											<div class="mb-3">
												<label for="Amount" class="form-label text-secondary-emphasis">Amount</label>
												<input class="form-control" type="text" id="Amount" name="amount">
											</div>
											<button class="btn btn-primary mt-2" type="submit">Submit</button>
												<hr>

										</form>
										</div>
										<%}else if(user.page === "withdrawal"){%>
										<div class="row rounded-10" style="margin: 10px 10px 10px 10px">
											<form method="post">
											<div class="mb-3">
												<label for="sendingAccount" class="form-label text-secondary-emphasis">From Account</label>
												<select class="form-select" name="sendingAccount" id="sendingAccount">
													<option selected>Choose an Account</option>
													<option value="1">Savings</option>
													<option value="2">Checking</option>
												</select>
											</div>
												<div class="mb-3">
													<label for="Amount" class="form-label text-secondary-emphasis">Amount</label>
													<input class="form-control" type="text" id="Amount" name="amount">
												</div>
												<button class="btn btn-primary mt-2" type="submit">Submit</button>
												<hr>

										</form>
										</div>

											<%}%>
										<div class="row shadow-sm bg-body">

											<div class = "col-8">
												<h3>
													<%=user.currentAccount%>
												</h3>
											</div>
											<div class = "col-2 text-sm-end">

												<form method="post" >
													<input type="text" value= "deposit" name="page" hidden="hidden">
													<input type="text" value= "Make a Deposit" name="title" hidden="hidden">
													<button type="submit" class= "btn btn-outline-secondary mt-1 border-bottom-0 rounded-bottom-0">Make a Deposit</button>
												</form>
											</div>
												<div class = "col-2 text-sm-end">

												<form method="post">
													<input type="text" value= "withdrawal" name="page" hidden="hidden">
													<input type="text" value= "Make a Withdrawal" name="title" hidden="hidden">
													<button type="submit" class="btn btn-outline-secondary mt-1 border-bottom-0 rounded-bottom-0">Make a Withdrawal</button>
												</form>
											</div>
											<hr>
											<!--This is the html we render when in an account-->
											<%if(account === "savings" || "checking"){%>
												<!--TODO render the table-->
												<table class="table table-borderless">
													<!--headers-->
													<thead><tr>

													<%
													for(let j = 0; j <headers.length; ++j){
														if(headers[j] === "from" || headers[j] === "to" || headers[j] === "Starting Balance"){
															continue;
														}

													%>
														<th><%=headers[j]%></th>
														<%}%>
													</tr></thead>
													<tbody>
													<%for (let j = 0; j < maxRows && tableIndex < history.length; ++j, ++tableIndex){%>
													<tr>
														<td><%=history[tableIndex]["Transaction Number"]%></td>
														<td><%=history[tableIndex].Type%></td>
														<td><%=history[tableIndex].Amount%></td>
														<td><%=history[tableIndex]["Initiated by"]%></td>
														<td><%=history[tableIndex].Memo%></td>
														<td><%=history[tableIndex]['Final Balance']%></td>
														<td><%=history[tableIndex]["Date and Time"]%></td>
														<%}%>
													</tr>

													<%}%>
													</tbody>

												</table>
											<%}%>
										<nav class="pagination-sm">
											<ul class="pagination">
											<%for(let k = 0; k <= Math.floor(history.length/maxRows) + Math.ceil((history.length%maxRows)/maxRows); ++k){%>
												<li class="page-item">
													<a class="page-link" href="/base?<%=qs.stringify({externalID: user.external_id, role: user.user_role_id, setCurrentAccount: user.currentAccount, add: undefined, tableIndex: k*maxRows})%>"><%=k+1%></a>
												</li>
											<%}%>
											</ul>
										</nav>

										<%}else if(page === "transfer"){%>
											<!--TODO add select for the checking/savings account fo the target user.-->
												<div class="row rounded-10" style="margin: 10px 10px 10px 10px">

												<form>
										<div class="mb-3">
											<label for="sendingAccount" class="form-label text-secondary-emphasis">Sending Account</label>
											<select class="form-select" name="sendingAccount" id="sendingAccount">
												<option selected>Choose an Account</option>
												<option value="1">Savings</option>
												<option value="2">Checking</option>
											</select>
										</div>
										<div class="mb-3">
											<label for="receivingAccount" class="form-label text-secondary-emphasis">Receiving Account</label>
											<input class="form-control" type="text" id="receivingAccount" name="receivingAccount">
										</div>
										<div class="mb-3">
											<label for="transferMemo" class="form-label text-secondary-emphasis">Memo</label>
											<textarea class="form-control" type="text" id="transferMemo" name="transferMemo"></textarea>
										</div>
										<div class="mb-3">
											<label for="Amount" class="form-label">Amount</label>
											<input class="form-control" type="text" id="Amount" name="amount">
										</div>
										<button class="btn btn-primary mt-2" type="submit">Submit</button>
										</form>
										</div>
										<%}%>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	  		</div>
		  </div>
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					 
					<address>
						 <strong>Banking, Inc.</strong><br> 555 F street, Suite 000 <br> City, State 555555<br> <abbr title="Phone">P:</abbr> (123) 456-7890
					</address>
				</div>
				<div class="col-md-4">
				</div>
			</div>
  </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>